.create{
    display:flex ;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    background-color: #1b1d21;
    background-size: cover;
    background-position: center;
    height: 93vh;
}